@model List<DAL.ViewModels.AdminDashboardTableVM>

@*For New Status*@

<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" />



<div class="mx-2 tab-pane fade show active" id="pills-Dashboard" role="tabpanel" aria-labelledby="pills-Dashboard-tab" tabindex="0">
    <Table class="table table-responsive" >
        <thead class="table-light border-0" style="height: 60px;">
            <tr>
                
                <th class="align-middle text-secondary my-2">Name</t>
                <th class="align-middle text-secondary">Date Of Birth</th>
                <th class="align-middle text-secondary">Requestor</th>
                <th class="align-middle text-secondary">RequestedDate</th>
                <th class="align-middle text-secondary">Phone</th>
                <th class="align-middle text-secondary">Address</th>
                <th class="align-middle text-secondary">Notes</th>
                <th class="align-middle text-secondary">ChatWith</th>
                <th class="align-middle text-secondary">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.requestId == 1)
                {
                    <tr class="text-white"
                        style="background-color: #14A44D !important">
                        <td class="align-middle text-white">@item.PatientName</td>
                        <td class="align-middle text-white">@item.BirthDate</td>
                        <td class="align-middle text-white">@item.RequestorName</td>
                        <td class="align-middle text-white">@item.RequestDate</td>
                        <td class="d-flex flex-column text-white">
                            <div class="border border-1 border-white py-1 text-center rounded ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.phone
                            </div>
                            <span>(Patient)</span>

                        </td>
                        <td class=" text-white">@item.address</td>
                        <td class="align-middle  text-white">-</td>
                        <td class="align-middle  text-white">
                            <button class="btn btn-outline-light ">
                                <i class="bi bi-person"></i>
                                Provider
                            </button>
                        </td>
                        <td class="align-middle  text-white">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-light shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Assign Case</a></li>
                                    <li><a class="dropdown-item" href="#">View Uploads</a></li>
                                    <li><a class="dropdown-item" href="#">View Notes</a></li>
                                    <li><a class="dropdown-item" href="#">Transfer</a></li>
                                    <li><a class="dropdown-item" href="#">Clear Case</a></li>
                                    <li><a class="dropdown-item" href="#">Send Agreement</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
                @if (item.requestId == 2)
                {
                    <tr style="background-color: #E4A11B !important">
                        <td class="align-middle text-white">@item.PatientName</td>
                        <td class="align-middle text-white">@item.BirthDate</td>
                        <td class="align-middle text-white">@item.RequestorName</td>
                        <td class="align-middle text-white">@item.RequestDate</td>
                        <td class="d-flex flex-column  text-white">
                            <div class="border border-1 border-white py-1 text-center rounded">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.phone
                            </div>
                            <span>(Patient)</span>
                            <div class="border border-1 border-white py-1 text-center rounded">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.YourPhone
                            </div>
                            <span>(Family-Friend)</span>
                        </td>
                        <td class="align-middle  text-white">@item.address</td>
                        <td class="align-middle text-white">-</td>
                        <td class="align-middle text-white">
                            <button class="btn btn-outline-light">
                                <i class="bi bi-person"></i>
                                Provider
                            </button>
                        </td>
                        <td class="align-middle  text-white">
                            <div class="btn-group">
                                <button type="button" class="btn  btn-outline-light shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Assign Case</a></li>
                                    <li><a class="dropdown-item" href="#">View Uploads</a></li>
                                    <li><a class="dropdown-item" href="#">View Notes</a></li>
                                    <li><a class="dropdown-item" href="#">Transfer</a></li>
                                    <li><a class="dropdown-item" href="#">Clear Case</a></li>
                                    <li><a class="dropdown-item" href="#">Send Agreement</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
                @if (item.requestId == 3)
                {
                    <tr style="background-color: #54B4D3 !important">
                        <td class="align-middle text-white">@item.PatientName</td>
                        <td class="align-middle text-white">@item.BirthDate</td>
                        <td class="align-middle text-white">@item.RequestorName</td>
                        <td class="align-middle text-white">@item.RequestDate</td>
                        <td class="d-flex flex-column  text-white">
                            <div class="border border-1 border-white py-1 text-center rounded ">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.phone
                            </div>
                            <span>(Patient)</span>
                            <div class="border border-1 border-white py-1 text-center rounded ">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.YourPhone
                            </div>
                            <span>(Concierge)</span>
                        </td>
                        <td class="align-middle text-white">@item.address</td>
                        <td class="align-middle text-white">-</td>
                        <td class="align-middle text-white">
                            <button class="btn btn-outline-light  ">
                                <i class="bi bi-person"></i>
                                Provider
                            </button>
                        </td>
                        <td class="align-middle  text-white">
                            <button type="button" class="btn  btn-outline-light shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Assign Case</a></li>
                                <li><a class="dropdown-item" href="#">View Uploads</a></li>
                                <li><a class="dropdown-item" href="#">View Notes</a></li>
                                <li><a class="dropdown-item" href="#">Transfer</a></li>
                                <li><a class="dropdown-item" href="#">Clear Case</a></li>
                                <li><a class="dropdown-item" href="#">Send Agreement</a></li>
                            </ul>
                        </td>
                    </tr>
                }
                @if (item.requestId == 4)
                {
                    <tr style="background-color: #DC4C64 !important">
                        <td class="align-middle text-white">@item.PatientName</td>
                        <td class="align-middle text-white">@item.BirthDate</td>
                        <td class="align-middle text-white">@item.RequestorName</td>
                        <td class="align-middle text-white">@item.RequestDate</td>
                        <td class="d-flex flex-column  text-white">
                            <div class="border border-1 border-white py-1 text-center rounded">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.phone
                            </div>
                            <span>(Patient)</span>
                            <div class="border border-1 border-white py-1 text-center rounded">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                                @item.YourPhone
                            </div>
                            <span>(Business)</span>
                        </td>
                        <td class="align-middle text-white">@item.address</td>
                        <td class="align-middle text-white">-</td>
                        <td class="align-middle text-white ">
                            <button class="btn btn-outline-light">
                                <i class="bi bi-person"></i>
                                Provider
                            </button>
                        </td>
                        <td class="align-middle  text-white">
                            <div class="btn-group">
                                <button type="button" class="btn  btn-outline-light shadow-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Assign Case</a></li>
                                    <li><a class="dropdown-item" href="#">View Uploads</a></li>
                                    <li><a class="dropdown-item" href="#">View Notes</a></li>
                                    <li><a class="dropdown-item" href="#">Transfer</a></li>
                                    <li><a class="dropdown-item" href="#">Clear Case</a></li>
                                    <li><a class="dropdown-item" href="#">Send Agreement</a></li>   
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </Table>
</div>
   
