@model DAL.ViewModels.ViewCaseVM

<div class="bg-secondary-subtle">

    @*Assign Case Modal*@

    <div class="modal fade" id="AssignCaseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5  text-white" id="exampleModalLabel">Assign Request</h1>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="AssignCase" id="AssignForm" asp-route-reeqid="@Model.requestid" enctype="multipart/form-data">
                    <div class="modal-body">
                        <p> To assign this request search and select another physician</p>
                        @*for ajax*@
                        <select class="form-select py-2 my-2 shadow-none border border-info" id="Regionid">
                            <option value="0" selected>Narrow Search By Region</option>
                            @foreach (var items in Model.regiontable)
                            {
                                <option value="@items.RegionId">@items.Name</option>
                            }
                        </select>
                        @*for action post*@

                        <select class="form-select py-2 my-2 shadow-none border border-info" id="physicianDrop" name="physicianId">
                            @*using ajax*@
                        </select>

                        <div class="form-floating mt-3">
                            <textarea class="form-control border border-info" name="Notes" placeholder="Leave a comment here" id="AssignNote" style="resize: none; min-height: 9vh !important"></textarea>
                            <label for="floatingTextarea2">Description</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-info" onclick="checkAssignCaseForm()">Confirm</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-info ms-3">cancle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @*Cancel Case Modal*@


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5  text-white" id="exampleModalLabel">Confirm Cancellation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="CancelCase" id="CancelCaseForm" asp-route-reeqid="@Model.requestid" enctype="multipart/form-data">
                    <div class="modal-body">
                        <p> Patient Name : <span id="text">@Model.FirstName @Model.LastName</span></p>
                        <select class="form-select" aria-label="Default select example" id="ReasonCancelId" name="Reason">
                            <option value="0" selected>Reason For Cancellation</option>
                            <option value="1">No Respone to call or text, left message</option>
                            <option value="2">Cost Issue</option>
                            <option value="3">Insurance Issue</option>
                            <option value="4">Out of Service Area</option>
                            <option value="5">Not appropriate for service</option>
                            <option value="6">Referral to Clinic or Hospital</option>
                        </select>
                        <div class="form-floating mt-3">
                            <textarea class="form-control" name="Notes" placeholder="Leave a comment here" id="CancelNote" style="resize: none; min-height: 9vh !important"></textarea>
                            <label for="floatingTextarea2">provide Additional Notes</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-info" onclick="checkIfValidCancelCase()">Confirm</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-info ms-3">cancle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mx-auto w-80 pt-4 pb-3" id="ViewCasediv">
        <div class="d-flex justify-content-between my-2">
            <h3>New Request</h3><br />
            @if (ViewBag.IsPhysician == false)
            {
                <a asp-action="MainPage" class="btn btn-primary btn  border border-info bg-transparent text-info shadow-none text-decoration-none "> ❮  Back </a>
            }else{
                <a  asp-controller="ProviderDashboard" asp-action="Dashboard" class="btn btn-primary btn  border border-info bg-transparent text-info shadow-none text-decoration-none "> ❮  Back </a>
            }
        </div>
        <div class=" bg-light-subtle shadow p-4">
            <h4 class="pt-3 mb-4">Patient Information</h4>


            <h4 class="mb-2 mb-sm-5 text-info"> @Model.ConfirmationNumber.ToUpper()</h4>

            <form method="post" id="emailForm" enctype="multipart/form-data" asp-action="ViewCase">
                <div class="row">
                    <div class="col col-12 mb-3">
                        <div class="form-floating">
                            <textarea class="form-control"
                                      asp-for="Notes"
                                      placeholder="Leave a comment here"
                                      id="floatingTextarea2"
                                      style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Patient Notes</label>
                            <span asp-validation-for="Notes" class="text-danger fs-6"></span>
                        </div>
                    </div>

                    <div class="col col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="FirstName"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger fs-6"></span>

                        </div>
                    </div>
                    <div class="col col-12 col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text"
                                   asp-for="LastName"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password" />
                            <label for="floatingPassword">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger fs-6"></span>


                        </div>
                    </div>


                    <div class="col col-md-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="date"
                                   asp-for="DateOfBirth"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password" />
                            <label for="floatingPassword">Date Of Birth</label>
                        </div>
                    </div>
                    <div class="col-9 col-md-5 ">
                        <div class="form-floating mb-3">
                            <input type="tel"
                                   asp-for="Phone"
                                   class="form-control"
                                   placeholder="PhoneNumber" />
                            <label for="floatingPassword">Phone No.</label>
                            <span asp-validation-for="Phone" class="text-danger fs-6"></span>

                        </div>
                    </div>

                    <div class="col-3 col-md-1 ">
                        <button class=" btn btn-outline-info" style="height:55px">
                            <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                            </svg>
                        </button>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" id="email"
                                   class="form-control"
                                   asp-for="Email"
                                   id="floatingInput"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Email</label>
                            <span asp-validation-for="Email" class="text-danger fs-6"></span>


                        </div>
                    </div>
                    <h4 class="pt-3 mt-4 mb-4">Location Information</h4>
                    <div class="col col-md-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="region"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Region" disabled />
                            <label for="floatingPassword">Region</label>
                        </div>
                    </div>
                    <div class="col-9 col-md-5 ">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   asp-for="address"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password" disabled />
                            <label for="floatingPassword">Business Name/Address</label>
                        </div>
                    </div>

                    <div class="col-md-1 col-3 ">
                        <button class="btn btn-outline-info " style="height:55px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                        </button>
                    </div>
                    <div class="col col-md-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="email" id="email"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com" disabled />
                            <label for="floatingInput">Room#</label>

                        </div> 
                    </div>
                    <div class="d-flex justify-content-end my-1">
                        @if (Model.Status == 1 && !Model.isPhysician)
                        {
                            <button type="button" class="btn border-none btn-info p-3 text-light fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#AssignCaseModal">
                                Assign
                            </button>
                        }
                            <a asp-action="ViewNotesAdmin" asp-route-reqid="@Model.requestid" type="button" class="btn border-none bg-info p-3 text-light fw-semibold me-2 ViewNotesBtn">
                                View Notes
                            </a>
                        <button type="button" class="btn border-none bg-danger p-3 text-light fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            cancel
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    function checkIfValidCancelCase() {
        var notes = $("#CancelNote").val();
        var reasonId = $("#ReasonCancelId").val();
        if (reasonId == 0) {
            alert("Please Select Reason");
        } else if (notes == "") {
            alert("Please Write Notes");
        } else {
            $("#CancelCaseForm").submit();
        }
    }
    function checkAssignCaseForm() {
        var regionId = $("#Regionid").val();
        var notes = $("#AssignNote").val();
        if (regionId == 0) {
            alert("Please Select Region");
        } else if (notes == "") {
            alert("Please Write Notes");
        } else {
            $("#AssignForm").submit();
        }
    }
    $("#Regionid").on("change", function () {
        var RegionId = $("#Regionid").val();
        filterPhysicianByRegion(RegionId);
    });
    function filterPhysicianByRegion(RegionId) {
        $.get('/Home/CheckSession', function (sessioncheck) {
            if (sessioncheck.sessionExists) {
                if (RegionId != "0") {
                    $.ajax({
                        type: "GET",
                        url: "/AdminDashboard/filterPhyByRegion",
                        data: { RegionId: RegionId },

                        success: function (data) {
                            $('#physicianDrop').empty();
                            $('#physicianDrop').append($('<option>').text("Select Physician").attr('value', 0));
                            $.each(data, function (index, item) {
                                $('#physicianDrop').append($('<option>').text(item.firstName).attr('value', item.physicianId));
                            });
                            $('#physicianDrop option:first').prop('selected', true);
                        }
                    });
                }

            }
            else {
                window.location.href = "/PatientLoginn";
            }
        });
    }
</script>
