@model List<DAL.ViewModels.SearchRecordsVM>
<Table class="table mb-0">

    <tbody class="table-body">
        <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Requestor</th>
            <th scope="col">Date Of Service</th>
            <th scope="col">Close Case Date</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Zip</th>
            <th scope="col">RequestStatus</th>
            <th scope="col">Physician</th>
            <th scope="col">Physician Note</th>
            <th scope="col">Cancelled By Provider Name</th>
            <th scope="col">Admin Note</th>
            <th scope="col">Patient Note</th>
            <th scope="col">Delete Permanently</th>
        </tr>
    </tbody>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td class="align-middle">@item.PatientName</td>
                <td class="align-middle">@item.Requestor</td>
                <td class="align-middle">@item.DateOfService</td>
                <td class="align-middle">@item.CloseDate</td>
                <td class="align-middle">@item.Email</td>
                <td class="align-middle">@item.PhoneNumber</td>
                <td class="align-middle">@item.Address</td>
                <td class="align-middle">@item.Zip</td>
                <td class="align-middle">@item.RequestStatus</td>
                <td class="align-middle">@item.PhysicianName</td>
                <td class="align-middle">@item.PhysicianNote</td>
                <td class="align-middle">@item.CancelledByProvidor</td>
                <td class="align-middle">@item.AdminNotes</td>
                <td class="align-middle">@item.PatientNote</td>
                <td class="align-middle">
                    <a asp-action="deleteRequest" asp-route-requestId="@item.RequestId" class="btn btn-outline-info">Delete</a>
                </td>

            </tr>
        }
    </tbody>

</Table>