
@{
    TempData.Keep("username");
}

<!DOCTYPE html>
<html lang="en" style="min-height: 100vh; height:100vh;">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HalloDoc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PatientDashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminDashboardMain.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>*@
    <partial name="_ValidationScriptsPartial"></partial>

<style>
        .nav-link:not(.active) {
            color: lightslategrey !important; 
        }
</style>    


    <title>@ViewData["Title"]</title>
</head>
<body style="min-height: 100%; height:100%;" class="position-relative" >
    <header class="">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between border border-bottom position-fixed w-100 bg-body" style=" z-index: 100 !important; height: 11vh !important">
            <button type="button" id="menuadmin" class="navbar-toggler position-absolute start-0 top-0 shadow-none btn btn-outline-info ms-3 mt-4 d-md-none d-block" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <img src="~/images/hallodoc2.png"
                 alt=""
                 style="height: 8vh; margin-left: 4vw"
                 class=" ms-md-3 ms-5 ps-3" />

            <div class="text-center align-items-center">
                <span class="text-secondary d-none d-sm-inline"> Welcome </span>
                <span class="fw-bold fs-6 text-body mt-1 ">@TempData["username"]</span>
                <a asp-controller="Home" asp-action="Logout"> <button class="btn text-decoration-none border border-info bg-transparent text-info shadow-none mx-2">Logout</button></a>
                <button class="btn bg-transparent pt-1 pb-2 border border-info text-info me-4 shadow-none"
                        id="theme-toggle" >
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-moon "
                         viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>

            </div>

        </nav>


    </header>
    <div class="w-100 shadow position-fixed bg-body" style="top: 11vh !important; z-index: 100">
        <nav class="navbar navbar-expand-lg py-0 shadow">
            <div class="container-fluid">
                
                <div class="collapse navbar-collapse d-md-block d-none" id="navbarTogglerDemo01">

                    <ul class="nav nav-underline" id="pills-tab" role="tablist">
                        <li class="nav-item " role="presentation">
                            <a class="px-2 shadow-none nav-link text-decoration-none text-info  @(ViewContext.ActionDescriptor.RouteValues["action"] == "MainPage" ? "active" : "")" asp-action="MainPage">Dashboard</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a asp-action="ProviderLocation" class="px-2 nav-link text-info text-decoration-none  shadow-none @(ViewContext.ActionDescriptor.RouteValues["action"] == "ProviderLocation" ? "active" : "")">Provider Location</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="px-2 shadow-none nav-link text-decoration-none text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "AdminProfile" ? "active" : "")" asp-action="AdminProfile">My Profile</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="px-2 shadow-none nav-link text-decoration-none text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Provider" || ViewContext.ActionDescriptor.RouteValues["action"] == "Scheduling" || ViewContext.ActionDescriptor.RouteValues["action"] == "CreateProviderAcc" ? "active" : "")" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Providers</button>
                            <div class="dropdown">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a asp-action="Provider" asp-controller="AdminDashboard" class="dropdown-item" type="button">Provider</a></li>
                                    <li><a asp-action="Scheduling" asp-controller="AdminDashboard" class="dropdown-item" type="button">Scheduling</a></li>
                                    <li><button class="dropdown-item" type="button">Invoicing</button></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item " role="presentation">
                            <a asp-action="Partners" class="px-2 shadow-none nav-link text-decoration-none text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Partners" || ViewContext.ActionDescriptor.RouteValues["action"] == "EditBusiness" || ViewContext.ActionDescriptor.RouteValues["action"] == "ProviderProfile" ? "active" : "")">Partners</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="px-2  shadow-none nav-link text-decoration-none text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "userAccess" || ViewContext.ActionDescriptor.RouteValues["action"] == "CreateProviderAcc" || ViewContext.ActionDescriptor.RouteValues["action"] == "roleAccess" || ViewContext.ActionDescriptor.RouteValues["action"] == "CreateAccess" ? "active" : "")" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">Access</button>
                            <div class="dropdown">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                    <li><a asp-action="userAccess" class="dropdown-item" type="button">UserAccess</a></li>
                                    <li><a asp-action="roleAccess" class="dropdown-item" type="button">Role Access</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="px-2 shadow-none nav-link text-decoration-none text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "PatientHistory" || ViewContext.ActionDescriptor.RouteValues["action"] == "BlockedHistory" || ViewContext.ActionDescriptor.RouteValues["action"] == "SearchRecords" || ViewContext.ActionDescriptor.RouteValues["action"] == "explorePatientRequests" ? "active" : "")" id="dropdownMenu4" data-bs-toggle="dropdown" aria-expanded="false">Records</button>
                            <div class="dropdown">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                                    <li><a asp-action="SearchRecords" class="dropdown-item" type="button">Search Records </a></li>
                                    <li><button  class="dropdown-item" type="button">Email Logs</button></li>
                                    <li><button  class="dropdown-item" type="button">SMS Logs</button></li>
                                    <li><a asp-action="PatientHistory" class="dropdown-item" type="button">Patient Records</a></li>
                                    <li><a asp-action="BlockedHistory" class="dropdown-item" type="button">Blocked History</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </div>

    
    <div class="container-fluid px-0 bg-light-subtle">
        <main role="main" class="overflow-auto" style="height: 92vh !important; padding-top: 15vh !important">
            @RenderBody()
        </main>
    </div>
    


    <footer class="border-top  text-muted position-fixed bottom-0 start-0 w-100" style="z-index: 100 !important">
        <div style="height: 8vh;" class="bg-dark d-flex flex-row-reverse align-items-center pe-3" id="submitfooter">
            <span class="text-light fw-semibold">Terms of conditions | Privacy Policy</span>
        </div>
    </footer>



    <partial name="_ValidationScriptsPartial"></partial>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

   
    <script>
        $(document).ready(function () {
            $('ViewCaseAdmin').hide();

        });
        const toggleButton = document.getElementById("theme-toggle");
        let currentTheme = localStorage.getItem("theme") || "light";

        console.log(toggleButton)
        // Apply the stored theme
        document.documentElement.setAttribute("data-bs-theme", currentTheme);

        toggleButton.addEventListener("click", function () {

            console.log("nhcsdcjkd")
            if (currentTheme === "light") {
                document.documentElement.setAttribute("data-bs-theme", "dark");
                currentTheme = "dark";
            } else {
                document.documentElement.setAttribute("data-bs-theme", "light");
                currentTheme = "light";
            }
            // Store the theme in localStorage
            localStorage.setItem("theme", currentTheme);
        });
    </script>
</body>
</html>