@model DAL.ViewModels.ViewdocumentVM
@{
    Layout = "~/Views/Shared/LayoutPatDash.cshtml";
}

<div class="bg-body-secondary " style="min-height: 82vh;">
    <div class="mx-auto   pb-3" style="width:70%; padding-top: 3%;">
        <div class="d-flex justify-content-between my-2">
            <h3>View Documents</h3><br />
            <a asp-action="PatientDashboard"><button type="button" class="btn btn-primary btn text-decoration-none border border-info bg-transparent text-info shadow-none ">Back</button></a>
        </div>
        <div class="PatientInfoTable border rounded shadow bg-white p-4">
            <span> patient name</span>
            <h3 class="text-info">@ViewBag.username</h3>

            <span>Check here for any files that you or the doctors of your subsequents requestor have attached for you</span>

            <div class="input-group input-group-lg mt-5">
                <label id="infoarea" for="fileInput" class="form-control fs-6 align-middle py-1 d-flex align-items-center">
                    Select File
                </label>
                <form method="post" asp-action="uploadFile" asp-route-requestid="@Model.requestid" enctype="multipart/form-data">
                   <input type="file" name="Document" class="form-control" id="fileInput" hidden multiple/>
                <button class="input-group-text btn btn-info text-light">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="currentColor"
                         class="bi bi-cloud-arrow-up"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                    </svg>
                    <span class="d-none d-md-inline">Upload</span>
                </button>
                </form>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <h4>View Documents</h4>
                <button type="button" id="downloadAllBtn"  class="btn btn-primary btn text-decoration-none border border-info bg-white text-info shadow-none ">Download All</button>
            </div>

            <table class="table">
                <thead>
                    <tr> 
                        <th scope="col"><input type="checkbox" name="maincheck" class="form-check-input" id="maincheck" value=""></th>
                        <th scope="col">DocumentName</th>
                        <th scope="col">Uploader</th>
                        <th scope="col">UploadDate</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                 @foreach(var item in Model.RequestWiseFile){
                        <tr>
                            <td>
                                <input type="checkbox" name="chk" class="checks form-check-input " name="">
                            </td>
                            <td>
                                @item.FileName
                            </td>
                            <td>
                                Test Tester
                            </td>
                            <td>
                                @item.CreatedDate
                            </td>
                            <td>
                            <a asp-action= "downloadfile" asp-route-filename="@item.FileName" class="btn btn-primary btn text-decoration-none border border-info bg-white text-info shadow-none " target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     class="bi bi-cloud-arrow-up"
                                     viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                </svg>
                            </a>
                            </td>
                        </tr>
                            
                   } 

                </tbody>
            </table>
        </div>
    </div>
    <script>
        var input = document.getElementById("fileInput");
        var info = document.getElementById("infoarea");

        input.addEventListener('change', showFilename);

        function showFilename() {
            var fileinp = event.srcElement;
            var fileName = fileinp.files[0].name;
            info.textContent = fileName;
        }

        document.getElementById("downloadAllBtn").addEventListener("click", function () {
            // Iterate through each file and create a dynamic link
            @foreach (var item in Model.RequestWiseFile)
            {
                <text>
                   
                var uniqueCounter = 1;
                var link = document.createElement("a");
                link.href = "/uploads/@item.FileName"; // Add a slash at the beginning and adjust the path accordingly
                link.download = "@item.FileName" + (uniqueCounter > 1 ? "(" + uniqueCounter + ")" : "");
                uniqueCounter++;
                link.style.display = "none";
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                </text>
            }
        });

        document.addEventListener("DOMContentLoaded", function () {

            var maincheckbox = document.getElementById('maincheck');
            var checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');

            maincheckbox.addEventListener('click', function () {
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = maincheckbox.checked;
                });
            });

        });


    </script>
</div>