@model List<DAL.DataModels.TimesheetReimbursementDetail>
@{
    int startDate = ViewBag.startDate.Day;
    int month = ViewBag.startDate.Month;
    int endDate = ViewBag.endDate.Day;
    int year = ViewBag.startDate.Year;
    var Listmodel = Model;
}
<table class="table table-borderless ">
    <thead class="text-body border-0">
        <tr>
            <th class="align-middle" style="width: 20% !important">Date</th>
            <th class="align-middle" style="width: 20% !important">Item</th>
            <th class="align-middle" style="width: 20% !important">Amount</th>
            <th class="align-middle" style="width: 20% !important">Bill</th>
            <th class="align-middle" style="width: 20% !important">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int j = 0;
        }
        @for (int i = startDate; i <= endDate; i++)
        {
            string date = new DateTime(year, month, i).Date.ToString("dd/MM/yyyy");
            @if (Listmodel != null && Listmodel[j] != null)
            {
                <tr>
                    <td class="align-middle">@date</td>
                    <td class="align-middle">@Listmodel[j].ItemName</td>
                    <td class="align-middle">@Listmodel[j].Amount</td>
                    <td class="align-middle">@Listmodel[j].Bill</td>
                    <td class="align-middle">@Listmodel[j].Bill</td>
                    <td class="align-middle text-center d-flex justify-content-between"><button class="btn btn-outline-info">Edit</button><button class="btn btn-outline-info">Delete</button><button class="btn btn-outline-info">View</button></td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="align-middle">@date</td>

                    <td class="align-middle">
                        <input type="text" class="form-control" asp-for="@Listmodel[j].ItemName" } />
                    </td>

                    <td class="align-middle">
                        <input type="number" class="form-control" asp-for="@Listmodel[j].Amount" } />
                    </td>

                    <td class="align-middle d-flex justify-content-center py-3">
                        <div class="input-group input-group-lg d-flex">
                            <label id="infoarea" for="fileInput" class="form-control fs-6 bg-body-secondary align-middle py-1 d-flex align-items-center">
                                Select File
                            </label>
                            <input type="file" class="form-control" id="fileInput" hidden multiple />
                            <button class="input-group-text btn btn-info text-light" id="filesubmitbtn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     class="bi bi-cloud-arrow-up"
                                     viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                </svg>
                                <span class="d-none d-md-inline">Upload</span>
                            </button>

                        </div>
                    </td>

                    <td class="align-middle"><button type="button" onclick="submitform()" class="btn btn-outline-info">submit</button></td>
                </tr>
                <div class="d-none">
                    <form asp-action="sumbitReciept" id="form" method="post" class="myform addReimbursement" enctype="multipart/form-data">
                        <input type="hidden" class="pay-item-hidden Item" name="Item" />
                        <input type="hidden" class="pay-amount-hidden Amount" name="Amount" />
                        <input type="hidden" name="PhysicianId" value="@ViewBag.PhysicianId" />
                        <input type="hidden" name="StartDate" value="@ViewBag.startDate" />
                        <input type="hidden" asp-for="@Model[j].TimesheetDetailId" name="Timesheetdetailid" />
                        <div class="form-floating">
                            <div class="col-md-12 form-floating d-flex file-parent">
                                <div class="file-upload-timesheet border border-1" data-text="Select file">
                                    <input name="file" type="file" class="file-upload-field" style="display:block;" id="file" value="">
                                </div>
                                <input type="submit" class="btn text-light btn-info rounded-0 d-flex align-items-lg-center fileupload" id="">
                            </div>
                        </div>
                    </form>
                </div>
            
            }
            j++;

        }
    </tbody>
</table>

<script>
    function submitform() {
        $("#form").submit();
    }
    $(document).ready(function () {
        $('.pay-item-hidden').attr('name', 'Item');
        $('.pay-amount-hidden').attr('name', 'Amount');
        $(".pay-item").on("input", function () {
            // Get the updated value
            var newValue = $(this).val();
            // Update the value of the hidden input field
            $(this).closest("tr").find(".pay-item-hidden").val(newValue);
        });
        $(".pay-amount").on("input", function () {
            // Get the updated value
            var newValue = $(this).val();
            // Update the value of the hidden input field
            $(this).closest("tr").find(".pay-amount-hidden").val(newValue);
        });
    });
</script>