<table class="table">

    <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <thead class="table-head align-middle">
        <tr>
            <td class=" text-start">Stop Notification</td>
            <td>Provider Name</td>
            <td>Role</td>
            <td>OnCall Status</td>
            <td>Status</td>
            <td class="text-center">Actions</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var physician in Model)
        {
            <tr>
                <td scope="row" class="align-middle">
                    <input type="checkbox" class="form-check-input" name="fileIds" id="locationBox" onchange="locationchange(@physician.physicianid)" @(physician.OnCallStatus[0] ? "checked" : "")>
                </td>

                <td class="align-middle">
                    @physician.Name
                </td>
                <td class="align-middle">
                    @physician.Role
                </td>
                <td class="align-middle">
                    UnAvailable
                </td>
                <td scope="row" class="align-middle">
                    @if (physician.Status == 1)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else if (physician.Status == 2)
                    {
                        <span class="badge bg-warning text-dark">Pending</span>
                    }
                    else if (physician.Status == 3)
                    {
                        <span class="badge bg-secondary">Conclude</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Unknown</span>
                    }
                </td>
                <td>
                    <a asp-action="patientnoti" asp-route-id="@physician.physicianid" class="btn btn-outline-info contact-provider-btn shadow-none" data-physician-id="@*@physician.Physicianid*@">Contact</a>
                    <a asp-action="ProviderProfile" asp-route-id="@physician.physicianid" class="btn btn-outline-info shadow-none ">Edit</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<script>
    function locationchange(id){
        var boxid = $("#locationBox");
        var isChecked = boxid.is(':checked');
        $.ajax({
           type: 'Post',
           url: 'changeNotification/AdminDashboard',
           data : {isChecked: isChecked , id : id },
           success : function (){
               console.log("Checked");
           },
           error: function(error){
               console.log("error to check");
           }
        });
    }
</script>