
@*  -------------------------  Contact Modal  -----------------------------  *@


<div class="modal fade" id="contactProviderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Contact Your Provider</h5>
                <a data-bs-dismiss="modal">
                    <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" fill="white" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z" /></svg>
                </a>
            </div>
            <form >
                <div class="modal-body">
                    <span>Choose communication to send message.</span>
                    <div class="modal-flex  justify-content-center my-3">
                        <input type="number" id="providerID" hidden />

                        <div class="form-check">
                            <input type="radio" class="form-check-input border shadow-none" name="radioForprovider" value="1" id="radio1">
                            <label class="form-check-label" for="radio1">Email</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input border shadow-none" name="radioForprovider" value="2" id="radio2" disabled>
                            <label class="form-check-label" for="radio2">SMS</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input border shadow-none" name="radioForprovider" value="3" id="radio3" disabled>
                            <label class="form-check-label" for="radio3">Both</label>
                        </div>

                        <div class="form-floating mt-3 temp">
                            <textarea style="height: 100px;" type="text" class="form-control inputs shadow-none" id="messageForProvider"></textarea>
                            <label for="messageForProvider" class="input_labels">Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="contactProviderSubmitBtn" class="btn btn-info text-white" data-bs-dismiss="modal">Submit</button>
                    <button type="reset" class="btn btn-outline-info cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.IsNullData)
{
    <div class="fs-1">Empty</div>
}
else
{
    <table class="table">

        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 15%;">
        </colgroup>

        <thead class="table-head align-middle">
            <tr>
                <td class=" text-start">Stop Notification</td>
                <td>Provider Name</td>
                <td>Role</td>
                <td>OnCall Status</td>
                <td>Status</td>
                <td class="text-center">Actions</td>
            </tr>
        </thead>

        <tbody>
            @{
                var i = 0;
            }
            @foreach (var physician in Model)
            {
                <tr>
                    <td scope="row" class="align-middle">
                        <input type="checkbox" class="form-check-input" name="fileIds" id="locationBox_@i" onchange="locationchange(@physician.physicianid, @i)" @(physician.OnCallStatus[0] ? "checked" : "")>
                    </td>

                    <td class="align-middle">
                        @physician.Name
                    </td>
                    <td class="align-middle">
                        @physician.Role
                    </td>
                    <td class="align-middle">
                        UnAvailable
                    </td>
                    <td scope="row" class="align-middle">
                        @if (physician.Status == 1)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else if (physician.Status == 2)
                        {
                            <span class="badge bg-warning text-dark">Pending</span>
                        }
                        else if (physician.Status == 3)
                        {
                            <span class="badge bg-secondary">Conclude</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Unknown</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-outline-info contact-provider-btn shadow-none" data-bs-toggle="modal" data-bs-target="#contactProviderModal">Contact</button>
                        <a asp-action="ProviderProfile" asp-route-id="@physician.physicianid" class="btn btn-outline-info shadow-none ">Edit</a>
                    </td>
                </tr>
                i++;
            }

        </tbody>

    </table>
}

<script>
    function locationchange(id, i){
        debugger
        var boxid = $("#locationBox_"+i);
        var isChecked = boxid.is(':checked');
        $.ajax({
           type: 'Post',
           url: 'changeNotification/AdminDashboard',
           data : {isChecked: isChecked , id : id },
           success : function (){
               console.log("Checked");
           },
           error: function(error){
               console.log("error to check");
           }
        });
    }
</script>