@model DAL.ViewModels.TimeSheetVM
@{
    int startDate = Model.startdate.Day;
    int month = Model.startdate.Month;
    int endDate = Model.enddate.Day;
    int year = Model.startdate.Year;
    var form = Model.forms;
}
<form asp-action="submitTimesheetData" method="post">
    <input class="d-none" asp-for="@Model.physicianId" hidden/>
    <table class="table table-borderless ">
        <thead class="text-body border-0">
            <tr>
                <th class="align-middle text-center">Date</th>
                <th class="align-middle text-center">On Call Hours</th>
                <th class="align-middle text-center">Total Hours</th>
                <th class="align-middle text-center">Weekend/Holiday</th>
                <th class="align-middle text-center">Number Of HouseCalls</th>
                <th class="align-middle text-center">Number Of Phone Calls</th>
            </tr>
        </thead>
        <tbody>
            @{
                int j = 0;
            }
            @for (int i = startDate; i <= endDate; i++)
            {
                <tr>
                    <input asp-for="@Model.forms[j].date" hidden/>
                    @{
                        string date = new DateTime(year, month, i).Date.ToString("dd/MM/yyyy");
                    }
                    <td class="align-middle text-center">@date</td>
                    <td class="align-middle text-center">@(form[j] == null ? 0 : form[j].onCallhours)</td>
                    <td class="align-middle text-center"><input type="number" asp-for="@Model.forms[j].totalHours" min="0" max="24" class="form-control" value="@(form[j] == null ? 0 : form[j].totalHours)"></td>
                    <td class="align-middle text-center d-flex justify-content-center py-3">
                        <input type="checkbox" asp-for="@Model.forms[j].isWeekend" class="form-check-input" />
                    </td>
                    <td class="align-middle text-center"><input type="number" asp-for="@Model.forms[j].HouseCallNo" class="form-control" value="@(form[j] == null ? 0 : form[j].HouseCallNo)"></td>
                    <td class="align-middle text-center"><input type="number" asp-for="@Model.forms[j].PhoneCallNo" class="form-control" value="@(form[j] == null ? 0 :form[j].PhoneCallNo)"></td>
                </tr>
                j++;

            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button class="btn btn-info" type="submit">submit</button>
    </div>
</form>